body {
  margin: 0;
  font-family: Arial;
  background-color: #f4f4f4;
}

/* Auth Pages */
.auth-container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.auth-container input {
  width: 90%;
  margin: 10px;
  padding: 8px;
}

.auth-container button {
  padding: 8px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

.link {
  color: blue;
  cursor: pointer;
  font-size: 14px;
}

/* Dashboard */
.navbar {
  background-color: #ff5722;
  padding: 15px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logout {
  background: white;
  color: #ff5722;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.category-section {
  text-align: center;
  margin: 20px;
}

.category-section button {
  margin: 8px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.active {
  background-color: #ff5722;
  color: white;
}

.food-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.food-card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
